.box__form__global {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #5fc3e4 0%, #e55d87 100%);
}

.box__form {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    border: double 5px #5fc3e4;
}

.form {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.label {
    display: flex;
    flex-direction: column;
    text-align: end;


}