.global_box__out {
    max-width: 1158px;
    max-height: 72px;
    position: relative;
}

.box__out {
    position: absolute;
    visibility: hidden;
    display: none;
}

.global_box__out:hover .box__out {
    color: rgb(129, 129, 215);
    visibility: visible;
    display: block;
}